.call__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--spotify-gradient-bar);
}

.call__cta-content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #5fb3ac;
}

.call__cta-content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #7ce7f5;
}

.call__cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.call__cta-button button {
    background: #02010ce3;
    color: #55ddff;
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}




@media screen and (max-width: 650px) {
    .call__cta {
        flex-direction: column;
    }

    .call__cta-button {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .call__cta {
        margin: 4rem 2rem;
    }

    .call__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .call__cta-button button {
        font-size: 14px;
        line-height: 28px;
    }
}