@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(90deg, rgba(60, 172, 255, 1) 0%, rgba(103, 244, 193, 1) 76%);
  --gradient-bar: linear-gradient(90deg, rgba(60, 172, 255, 1) 0%, rgba(103, 244, 193, 1) 76%);
  --spotify-gradient-bar: linear-gradient(90deg, rgba(33, 190, 189, 1) 0%, rgba(71, 190, 153, 1) 100%);

  --color-bg: rgb(18, 34, 75);
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}